<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snacks - CRUD</title>
</head>
<body>
<header>
    <nav>
        <a href="{% url 'snack_list' %}">Snack List</a>
{#        <a href="{% url 'snack_detail' %}">Snack Details</a>#}
        <a href="{% url 'snack_create' %}">Create Snack</a>
{#        <a href="{% url 'snack_update' %}">Update Snack</a>#}
{#        <a href="{% url 'snack_delete' %}">Delete Snack</a>#}



    </nav>
</header>
<main>
    {% block content %}
        Don't look at me!
    {% endblock content %}
</main>
<footer></footer>
</body>
</html>