{% extends 'base.html' %}

{% block content %}
    <h2 class="pb-4 text-white">Details about {{ snack.name }}</h2>
    <h2 class="pb-2 text-white">Purchaser: {{ snack.purchaser }}</h2>
    <p class="pb-2 text-white">{{ snack.description }}</p>

    <a class="mr-8 text-black px-2 rounded-lg bg-sky-500" href="{% url 'snack_update' snack.pk %}">+ Update Snack</a>
    <a class="mr-8 text-black px-2 rounded-lg bg-sky-500" href="{% url 'snack_delete' snack.pk %}">+ Delete Snack</a>

{% endblock content %}